.gradient-text {
  color: transparent;
  background: conic-gradient(
    #4c1a57 12%,
    #4c1a57 12%,
    #ff3cc7 33%,
    #f0f600 33%,
    #f0f600 55%,
    #00e5e8 55%,
    #00e5e8 70%,
    #007c77 70%,
    #007c77 87%,
    #007c77 95%
  );
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
}
