---
layout: base
---


<header class="section">
  <div class="section__inner blue">
    <div class="wrapper flow region">
      <h1 class="text-center white">{{ title }}</h1>
    </div>
  </div>
  <div class="header">
  {% include 'svg/divider-waves.svg' %}
  </div>
</header>


<article class="wrapper region">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} {% for post in postslist %} {% include
    "partials/blog-card.njk" %} {% endfor %}
  </ul>
</article>
